extends layout

block content
  h1 下载引导界面
  p 请使用chrome内核的浏览器如360极速或QQ浏览器打开下面的链接之一
    a(href="/chrome49.exe") 下载Chrome浏览器(支持XP)


  br
  br
  a(href="javascript:location.href='http://'+location.hostname+':5321'") 使用浏览器打开GitHub
  br
  br
  a(href="/github.exe") 下载GitHub客户端
